.footer-main-div{
    display:flex;
    flex-direction:column;
    border-top:1px solid #A6A9AD;
    padding:50px 50px;
    border-bottom:1px solid #FFD700;
    align-items:center;
}
.footer-top-div{
    display:flex;
    justify-content:center;
    gap:200px;
}
.footer-name-div{
    display:flex;
    gap:20px;
}
.footer-name{
    color:#0a2548;
    font-size:35px;
}
.footer-acronym{
    color:#FFD700;
}
.footer-segal-logo{
    width:120px;
}
.footer-right-name-div{
    display:flex;
    flex-direction:column;
}
.footer-description-text{
    color:rgba(0,0,0,0.7);
    font-size:20px;
}
.social-media-icon{
    width:25px;
    display:block;
}
.social-media-button{
    padding:15px 15px;
    border-radius:100%;
    border:1px solid #A6A9AD;
    cursor:pointer;
    background-color:transparent;
}
.link-div{
    display:flex;
    flex-direction:column;
}
.footer-link{
    display:flex;
    gap:20px;
    cursor:pointer;
}
.link-icon{
    width:25px;
}
.footer-link-text{
    margin-right:auto;
}
.link-underline{
    background-color:#FFD700;
    width:50px;
    height:2px;
}
.footer-top-second-div{
    display:flex;
    gap:80px;
}
.left-link-div{
    border-right:1px solid #A6A9AD;
    padding-right:80px;
}
#footer{
    padding:0px 30px;
}
.link-title{
    font-size:22px;
    color:#0a2548;
    margin:0;
    margin-bottom:10px;
}
.footer-link-text{
    color:rgba(0,0,0,0.7);
}
.social-media-div{
    margin-top:50px;
    display:flex;
    gap:20px;
}
.footer-bottom-div{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:50px;
}
.footer-contact-div{
    display:flex;
    gap:10px;
    border-right:1px solid #dddddd;
    padding-right:30px;
    align-items:center;
}
.footer-contact-div:last-child{
    border-right:none;
}
.footer-contact-right-div{
    display:flex;
    flex-direction:column;
    gap:10px;
}
.footer-wrapper-div{
    display:flex;
    justify-content:center;
    border:1px solid rgba(10,37,72,0.15);
    border-radius:clamp(6px,0.6vw,8px);
    box-shadow:0 8px 25px rgba(10,37,72,0.08);
    padding:10px 16px;
    border-radius:8px;
    gap:30px;
}
.contact-icon{
    width:40px;
    display:block;
}
.footer-contact-name{
    margin:0px;
    color:#0a2548;
    font-weight:700;
}
.contact-wrapper{
    border:1px solid #FFD700;
    border-radius:100%;
    padding:10px 10px;
}
.footer-contact-info{
    margin:0;
    color:rgba(0,0,0,0.7);
}
.copyright-div{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:25px 0px;
    color:rgba(0,0,0,0.7);
}
.footer-top-first-div{
    gap:80px;
}
@media(max-width:1200px){
    .footer-top-div{
        flex-direction:column;
    }
    .footer-top-second-div{
        flex-direction:column;
    }
    .left-link-div{
        border-bottom:1px solid #A6A9AD;
        border-right:none;
        padding-bottom:50px;
    }
    .footer-wrapper-div{
        flex-direction:column;
    }
    .footer-contact-div{
        border-bottom:1px solid #dddddd;
        border-right:none;
        padding-bottom:20px;
    }
    .footer-contact-div:last-child{
        border:none;
    }
}